/target/
/dist/
*.class
*.jar
!android/gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
roms/*
!roms/.gitkeep
!roms/ATTRIBUTION.md
saves/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
